.footer.bar {
    background-color: #282c34;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    /* fixed-bottom: 0; */
    padding: 10px 10px 0px 10px;
    bottom: 10px;
    width: 100%;
    /* Height of the footer*/ 
    height: 60px;
}

.footer {
    background-color: #282c34;
    padding: 20px;
}


.footer.content.left {
    align-items: center;
    justify-content: center;
}


.footer.p {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

