.Navbar {
    background-color: #141414;
    width: 100%;
    display: flex;
  
}

div.Spacer {
    height: 12rem;
    display: block;

}


ul.Nav {
    list-style-type: none;
    float: left;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;

  /* text-align: center; */
    padding: 40px;
    margin: 0;

}

li.NavliT {
    padding: 1px;
    padding-left: 60px;
    background-color: #000000;
    display: block;
    text-align: justify;
    text-decoration:#000000;
    text-size-adjust:calc(100px);
    font-size: calc(10px + 2vmin);

}

li.Navli {
    float: left;
    background-color: #000000;
    padding: 1px;
    padding-left: 60px;
    font-size: calc(10px + 1vmin);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    text-transform:capitalize;
    text-decoration: none;
    text-align: center;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
}

li.Title a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 50px 0px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color:  #282c34;
}

div.smallbanner {
    padding-top: 80px;
}